<div class="col-4 col-sm-3">
  <% if profile.image.present? %>
    <%= image_tag profile.image.variant(resize_to_fill:[80,80]).processed, class:"rounded-circle" %>
  <% else %>
    <i class="fas fa-user-circle fa-5x" style="color: silver"></i>
  <% end %>
</div>