<div class="row border border-secondary border-top-0 align-items-center">
  <div class="col-1">
    <i class="fas fa-reply"></i>
  </div>
  <div class="col-3">
    <%= image_tag Profile.find_by(user_id: reply.user.id).image.variant(combine_options:{resize:"80x80^",crop:"80x80+0+0",gravity: :center}).processed, class:"rounded-circle" %>
  </div>
  <div class="col-6">
    <div class="row">
      <%= User.find(reply.user_id).name %>
    </div>
    <div>
      <%= simple_format(reply.comment) %>
    </div>
  </div>
</div>