<div class="row border-top border-secondary align-items-center py-2">
  <div class="col-1">
    <i class="fas fa-reply"></i>
  </div>
  <%= render 'profiles/image', profile: Profile.find_by(user: reply.user) %>
  <div class="col-6 col-sm-8">
    <div class="row">
      <%= User.find(reply.user_id).name %>
    </div>
    <div>
      <%= safe_join(reply.comment.split("\n"), tag(:br)) %>
    </div>
    <div class="text-secondary">
      <%= l reply.created_at, format: :short %>
    </div>
  </div>
</div>