<div class="row align-items-center">
  <div class="col-1">
	  <div class="h3 font-weight-bold">
      <%= link_to "â†", tweets_path(current_user) %>
    </div>
  </div>
  <div class="col-11 h3">
    Edit Tweet
  </div>
</div>

<%= render 'form', tweet: @tweet %>
