<div class="row border-top border-bottom border-secondary align-items-center">
  <div class="col-1">
	<div class="h3 font-weight-bold">
      <%= link_to "←", profile_path(id: current_user.id) %>
    </div>
  </div>
  <div class="col-11 h3">
    過去のTweet
  </div>
</div>

<%= render partial: 'form', locals: {tweet: @tweet} %>

<div id="tweets">
	<%= render @tweets %>
</div>