<div class="row align-items-center">
  <div class="col-1">
	<div class="h3 font-weight-bold">
      <%= link_to "â†", profile_path(id: current_user.id) %>
    </div>
  </div>
  <div class="col-11 h3">
    My Tweets
  </div>
</div>

<%= render partial: 'form', locals: {tweet: @tweet} %>

<div id="tweets">
	<%= render @tweets %>
</div>