<table class="table table-dark">
  <thead>
    <tr>
      <th>Home</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= render partial: 'tweets/form', locals: {tweet: @tweet} %></th>
    </tr>
    <tr>
      <th id="tweets">
      <%= render @timelines %>
      </th>
    </tr>
  </tbody>
</table>