<div class="row border-top border-bottom border-secondary">
  <div class="col h3">
    Home
  </div>
</div>
<%= render partial: 'timelines/form', locals: {tweet: @tweet} %>
<div id="timelines">
  <%= render partial: 'timeline', collection: @timelines, as: 'tweet' %>
</div>