<% if user_signed_in? %>

<div class="row border-top border-bottom border-secondary">
  <div class="col h3">
    Home
  </div>
</div>
<%= render partial: 'timelines/form', locals: {tweet: @tweet} %>
<div id="timelines">
  <%= render partial: 'timeline', collection: @timelines, as: 'tweet' %>
</div>

<% else %>
	<h4> <%= link_to "ログイン", new_user_session_path, class: 'post' %> </h4>
	<h4> <%= link_to "新規登録", new_user_registration_path, class: 'post' %> </h4>
<% end %>