<p><%= @resource.email %>様</p>

<p>下記のリンクにアクセスし、パスワードを再設定してください。</p>

<p><%= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに覚えがない場合は、無視してください。</p>
<p>上記のリンクにアクセスしない限り、パスワードは変更されません。</p>
